.registration-form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
    color: #212529;
    text-align: center;
    margin-bottom: 20px;
}

.registration-form .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
}

.registration-form .btn-primary {
    width: 100%;
    background-color: #000;
    border: 1px solid #000;
}

.registration-form .btn-primary:hover {
    background-color: #fff;
    color: #000;
}
