{% extends 'base.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}Calculators - Shredded Monty Python{% endblock %}

<!-- Additional Styles -->
{% block extra_css %}
<link href="{% static 'css/calculators.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
    <!-- Main content container -->
    <section class="py-5">
        <div class="container text-center">
            <h2 class="fade-in">Fitness Calculators</h2>
            <p class="lead fade-in">Explore our calculators to help you optimize your fitness journey.</p>
            <div class="row mt-5 d-flex justify-content-center">

                <!-- Calculator Card: One-Rep Max Calculator -->
                <div class="col-md-6 col-lg-4 mb-4 fade-in">
                    <a href="{% url 'onerepmax' %}">
                        <div class="calculator-card">
                            <img src="{% static 'media/one_rep_max.jpg' %}" alt="One-Rep Max Calculator">
                            <h3>One-Rep Max Calculator</h3>
                        </div>
                    </a>
                </div>

                <!-- Calculator Card: BMI Calculator -->
                <div class="col-md-6 col-lg-4 mb-4 fade-in">
                    <a href="{% url 'bmi' %}">
                        <div class="calculator-card">
                            <img src="{% static 'media/bmi_calculator.jpg' %}" alt="BMI Calculator">
                            <h3>BMI Calculator</h3>
                        </div>
                    </a>
                </div>

                <!-- Calculator Card: Calorie Calculator -->
                <div class="col-md-6 col-lg-4 mb-4 fade-in">
                    <a href="{% url 'calorie' %}">
                        <div class="calculator-card">
                            <img src="{% static 'media/calorie_calculator.jpg' %}" alt="Calorie Calculator">
                            <h3>Calorie Calculator</h3>
                        </div>
                    </a>
                </div>

                <!-- Calculator Card: Body Fat Calculator -->
                <div class="col-md-6 col-lg-4 mb-4 fade-in">
                    <a href="{% url 'bodyfat' %}">
                        <div class="calculator-card">
                            <img src="{% static 'media/body_fat_percentage.jpg' %}" alt="Body Fat Calculator">
                            <h3>Body Fat Calculator</h3>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}
